body {
    display: flex;
	background-color: skyblue;
}

nav {
    display: -ms-inline-grid;
	width: 80%;
	margin: auto;
	padding: 30px; 
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 1.6rem;
}

nav .left {
	float: left;
}

nav .right {
	flex-direction: right;
}


nav .right  a {
	padding-left: 30px;
}

.main {
    flex-direction: row;
    align-self: left;
	padding-top: 20px;
	text-align: left;
    font-size: 1.8rem;
    ;
}

.main form input {
	padding: 10px;
	border-radius: 5px;
}

.main form button {
	padding: 10px;
	border-radius: 10px;
}

.main form button:hover {
	cursor: pointer;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: black;
	width: 100%;
	min-height: 30%;
	color: white;
}

footer p {
	font-size: 1.2rem;
	text-align: center;
	padding-bottom: 10%;
}

footer a {
	text-decoration: none;
	font-weight: bold;
	color: skyblue;
}